<form (ngSubmit)="onLogin()" #loginForm="ngForm" class="loginLayout">
  <div class="loginBox">
    <div class="loginBox__title">Login</div>

    <div class="loginBox__field loginBox__field--username">
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Username"
        required
      />
    </div>

    <div class="loginBox__field loginBox__field--password">
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>

    <div class="loginBox__button">
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
  </div>
</form>
