.home {
  min-height: 100vh;
}

.homeLayout {
  padding: 50px 15px;
}

.productsList {
  display: flex;
  flex-wrap: wrap;       // allow products to go to next line
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.productCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding-bottom: 40px;
  font-size: 22px;
  width: 400px;          // fixed card width to control wrapping

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;          // take full card width
    background-color: #eeeeee;

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;  // keep image ratio
    }
  }

  &__title {
    padding-top: 30px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
  }
}
